.board
{
    background-color: rgb(0, 0, 0);
    width: 840px;
    height: 960px;
    color: azure;
    transform-origin: 0 0;
}

.colorYourLife
{
    width: 100px;
    height: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.row
{
    display: flex;
}

.tile
{
    cursor: pointer;
    width: 30px; /* Fixed */
    height: 30px;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.wall
{
    background-color: rgb(0, 153, 255);
}

.emptySpace
{
    background-color: rgb(0, 0, 0);
}

.smallPellet
{
    background-color: rgb(251, 255, 0);
    margin: 10px;
    width: 10px;
    height: 10px;
    border-width: 0px;
    border-radius: 10px;
    transform: scale(1); /* Prevents fractional scaling */
}

.bigPellet
{
    background-color: rgb(255, 187, 0);
    margin: 7px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

.ghostWall
{
    width: 30px;
    height: 4px;
    margin: 13px 0px 13px 0px;
    border-style: solid;
    border-width: 0px;
    padding: 0px;
    background-color: rgb(180, 180, 180);
}

.gridPainter
{
    display: grid;
    grid-template-columns: auto auto;

}

.tile.downrightcorner
{
    width: 13px;
    height: 13px;
    margin: 13px 0px 0px 13px;
    border-radius: 15px 0px 0px 0px;
    border-style: solid;
    border-width: 4px 0px 0px 4px;
    border-color: rgb(0, 153, 255);
}

.tile.horizontal
{
    width: 30px;
    height: 4px;
    margin: 13px 0px 13px 0px;
    border-style: solid;
    border-width: 0px;
    padding: 0px;
    background-color: rgb(0, 153, 255);
}

.tile.leftdowncorner
{
    width: 13px;
    height: 13px;
    margin: 13px 13px 0px 0px;
    border-radius: 0px 13px 0px 0px;
    border-style: solid;
    border-width: 4px 4px 0px 0px;
    border-color: rgb(0, 153, 255);
}


.tile.vertical
{
    width: 4px;
    height: 30px;
    margin: 0px 13px 0px 13px;
    border-style: solid;
    border-width: 0px;
    background-color: rgb(0, 153, 255);
}

.tile.topleftcorner
{
    width: 13px;
    height: 13px;
    margin: 0px 13px 13px 0px;
    border-radius: 0px 0px 13px 0px;
    border-style: solid;
    border-width: 0px 4px 4px 0px;
    border-color: rgb(0, 153, 255);
}

.tile.righttopcorner
{
    width: 13px;
    height: 13px;
    margin: 0px 0px 13px 13px;
    border-radius: 0px 0px 0px 15px;
    border-style: solid;
    border-width: 0px 0px 4px 4px;
    border-color: rgb(0, 153, 255);
}


.Game
{
    height: 960px;
    width: 1240px;
    display: grid;
    grid-template-columns: 200px 840px 200px;
}

.PointsAndLife
{
    font-size: 30px;
    font-weight: 800;
    color: bisque;
    display: grid;
    align-items: center;
    justify-content: center;
}

.livesDiv
{
    height: 40px;
    margin: 20px;
}

.pacManSpriteLives
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.livesContainer
{
    width: 40px;
    height: 40px;
}

.menuButton
{
    margin: 50px 10px 50px 10px;
    font-size: 30px;
    font-weight: 800;
    color: bisque;
    background-color: rgb(32, 32, 32);
    height: 80px;
    width: 180px;
    display: flex;
    justify-content: center;  /* Centers text horizontally */
    align-items: center;      /* Centers text vertically */
    text-align: center;       /* Optional: ensures text is centered if it wraps */

    border-radius: 10px;
}

.menuButton:hover
{
    cursor: pointer;
    background-color: rgb(92, 92, 92);

}

.backgroundontainer
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    justify-content: center;
    justify-items: center;
    align-content: center;
}

.popUpWindow
{
    display: grid;
    grid-template-columns: 800px;
    grid-template-rows: 100vh;

    justify-content: center;
    justify-items: center;
    align-content: center;

    background-color: rgb(0, 0, 0);
}

.endContent
{
    margin: 200px 0px 100px 0px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 300px 100px 200px;
    text-align: center;
    text-justify: center;
    justify-content: center;
}

.endText
{
    display: grid;
    justify-content: center; /* Horizontally center */
    align-items: center;    /* Vertically center */
    width: 300px;
    height: 100px;
    font-family: 'Jua-Regular';
    font-weight: 500;
    font-size: 50px;
    color: beige;

}

@font-face {
    font-family: 'Jua-Regular';
    src: local('Jua-Regular'), url('../font/Jua-Regular.ttf') format('truetype');
    /* Ensure correct format value for TTF: 'truetype' */
}